@font-face {
  font-family: open-sans-light;
  src: url('./fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: open-sans-regular;
  src: url('./fonts/OpenSans-Regular.ttf');
}

body {
  background-color: rgb(255, 255, 255);
  /* color: white; */
}

.main {
  padding-left: 2.5rem;
  display: block;
  padding-bottom: 2.5rem;
  padding-right: 2.5rem;
}

a {
  color: rgb(0, 0, 255)
}


li {
  margin-bottom: 10px;
}

a:hover {
  color: green
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
  font-family: open-sans-light
}

.title {
  margin-bottom: 0px;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  font-family: open-sans-light
}

h3 {
  font-size: 1.75rem;
  font-weight: 300;
  font-family: open-sans-light
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: open-sans-light
}

p, small {
  font-family: open-sans-regular
}

.bio {
  display: block;
}





